<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="basketballDB" connectionString="Data Source=GDC-LAPTOP-147\SQLEXPRESS;Initial Catalog=basketballstattracker;Integrated Security=True" providerName="system.data.SQLClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
